#container {width : 100%;
    height : auto;
    background-color : white;
    padding-left : auto;
    padding-right : 5px;}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    }
    
.navigation-bar a {
    color : black;
    float : left;
    padding : 14px 16px;
    font : 17px;
    text-decoration : none;
    font-family : Arial, Helvetica, sans-serif;
}



.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family : Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1320px){
    .topnav a.icon {
        float: left;
    display: block;

    }
}
  

.responsive {
    width: 100%;
    max-width: 1320px;
    height: auto;
  }


p{
	font-family : arial;
	font-size : 17px;
	color : black;
	
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    max-width:1350px;
  }

@media  ( min-width : 330px ){
    .grid-container { grid-template-columns: repeat(1, 1fr);}
}

@media  ( min-width : 660px ){
    .grid-container { grid-template-columns: repeat(2, 1fr);}
}

@media ( min-width : 990px ){
    .grid-container{grid-template-columns: repeat(3,1fr);}
}

@media ( min-width : 1320px ){
    .grid-container{grid-template-columns: repeat(4,1fr);}
}


.grid-container img{
    width:100%; 
	height:250px;
  }


.grid-container .container{

        position: relative;
        text-align: center;
        color: white;

}
.grid-container .container .item1 .text-block .top-left {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    color: white;
    height :30px;
    width : 150px;
    font-size: 20px;
    padding-top : 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
 }

#grid-container2 img{
    width:100%; 
	height:250px;
 }

@media  ( min-width : 330px ){
    #grid-container2 { grid-template-columns: repeat(1, 1fr);}
}

@media  ( min-width : 660px ){
    #grid-container2 { grid-template-columns: repeat(2, 1fr);}
}

@media ( min-width : 990px ){
    #grid-container2{grid-template-columns: repeat(3,1fr);}
}

@media ( min-width : 1320px ){
    #grid-container2{grid-template-columns: repeat(4,1fr);}
}


#grid-container2 {
    display: grid;
    grid-gap: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    max-width:1350px;
}


#grid-container2 .grid-item button {
    background-color: #e7e7e7; 
    color: black;
    width : 100%;
    border : none;
    padding: 14px 40px;
    border-radius: 8px;
    font-size : 18px;
    cursor : pointer;
} 



.container form .row  input[type=text]{
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
    resize: vertical;
    margin-top:7px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.container form .row  input[type=submit] {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    float: left;
    margin-top:20px;
    size : 30%
}

@media screen and (max-width: 1320px) {
    .container .row ,input[type=text] {
      width: 100%;
      margin-top: 0;
    }
}



#footer p{
    text-align: center;
    padding-top:40px;
    background-color: rgb(0, 0, 0);
    color: white;
    width :100%;
    height : 50px;
}  

#footer a{
    color : white;
}